body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

p {
    color: #fff;
}

.login-container {
    margin-top: 70px !important;
    margin-bottom: 50px !important;
    margin: auto;
    display: flex;
    background-color: #e0f7f5;
    border-radius: 30px;
    box-shadow: 0 4px 8px #117C6F;
    overflow: hidden;
    max-width: 800px; 
    width: 100%; 
}

.image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
}

.calendar-image {
    width: 100%;
    height: auto;
    max-height: 100%; 
}

.form-section {
    flex: 1;
    padding: 40px;
    background-color: rgba(17, 124, 111, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.input-group {
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
}

input[type="email"] {
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    width: 100%;
    padding: 40px;
    padding-bottom: 8px;
    margin-top: 5px;
    border: 0px;
    border-bottom: 1.5px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="email"]:focus {
    outline: none; 
    border-bottom-color: #ffffff; 
}

input[type="email"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.submit-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #117C6F;
    font-size: 16px;
    box-shadow: 0 4px 8px #117C6F;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    color: #FFF;
    background-color: #117C6F;
}

@media (max-width: 768px) { 
    .image-section {
        display: none;
    }

    .login-container {
        width: 90%;
    }
}