<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
	<footer class="footer">
		<div class="container row">
			<div class="footer-col">
				<div class="social-links">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="footer-col">
				<h4>Soporte</h4>
				<ul>
					<li><a href="#">Política de cookies</a></li>
					<li><a href="#">Aviso legal</a></li>
					<li><a href="#">Privacidad</a></li>
					<li><a href="#">Información</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Contacta con nosotros</h4>
				<ul>
					<li><a href="#">quickplans&#64;gmail.com</a></li>
					<li><a href="#">+34 966 77 88 74</a></li>
					<li><a href="#">Calle Villabañez, s/n 47002 - Valladolid</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>