<header>
    <nav>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
        </label>
        <ul class="navigation-menu">
            <li><a href="#">Chats</a></li>
            <li><a href="#">Comunidad</a></li>
            <li class="extends"><a href="#">QuickPlan</a>
                <ul>
                    <li><a href="#">Anónimo</a></li>
                    <li><a href="#">Amistoso</a></li>
                    <li><a href="#">Grupal</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
