<header>
    <nav>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <!-- <div  for="menu-toggle" class="menu-icon">
            <img src="../../../assets/images/QuickPlan.png" alt="Logo">
        </div> -->
        <label for="menu-toggle" class="menu-icon">
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
        </label>
        <ul class="navigation-menu">
            <!-- <li class="logo"><img src="../../../assets/images/QuickPlan.png" alt="Logo"></li> -->
            <li><a href="/index">Inicio</a></li>
            <li *ngIf="csrfToken"><a href="/chats">Chats</a></li>
            <li *ngIf="csrfToken"><a href="/community">Comunidad</a></li>
            <li class="extends"><a href="#">QuickPlans</a>
                <ul>
                    <li><a href="/quickplans/anonimos">Anónimos</a></li>
                    <li *ngIf="csrfToken"><a href="/quickplans/mis-planes">Mis planes</a></li>
                    <li *ngIf="csrfToken"><a href="/quickplans/piensatelo">Piénsatelo...</a></li>
                    <li *ngIf="csrfToken" class="extends2 extends"><a href="#">Crear quickplan</a>
                        <ul>
                            <li><a href="/add-quickplan/anonimo">Anónimo</a></li>
                            <li><a href="/add-quickplan/amistoso">Amistoso</a></li>
                            <li><a href="/add-quickplan/grupal">Grupal</a></li>
                        </ul>
                    </li>
                </ul>
            </li>            
            <li *ngIf="!csrfToken"><a href="/login">Iniciar sesión</a></li>
            <li *ngIf="csrfToken" class="extends"><a href="/profile">Perfil</a>
                <ul>
                    <li><a href="/profile">Mi perfil</a></li>
                    <li><a href="/index" (click)="onLogout()">Cerrar sesión</a></li>
                </ul>
            </li>
            <li *ngIf="csrfToken" class="extends"><a href="#">Notificaciones</a>
                <ul>
                    <li *ngFor="let notification of notifications">
                        <a href="#">{{notification.title}}</a>
                    </li>
                    <!-- <li><a href="#">Notificacion 1  </a></li>
                    <li><a href="#">Notificacion 2  </a></li>
                    <li><a href="#">Notificacion 3  </a></li> -->
                </ul>
            </li>
        </ul>
    </nav>
</header>
