body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.empty {
    height: 100px;
    justify-content: center;
    cursor: default !important;

    p {
       align-content: center;
       margin: auto;
       font-weight: bold;
       color: #00796b;
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search {
    margin-top: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    input {
      flex: 1;
      padding: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      font-size: 16px;
      outline: none;
    }

    #location {
        padding: 5px;
    }

    .btn-location {
        padding: 5px;
    }

    button {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #005e56;
      border: none;
      width: 60px;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 10px;
    }
}

.input-group {
    position: relative;
    width: 100%;

    input {
        box-shadow: 0 4px 8px #117C6F;
        width: 100%;
        padding: 15px 50px 15px 20px;
        border: none;
        border-radius: 25px;
        background-color: #fff;
        font-size: 16px;
        outline: none;
        color: #007b71;
    }

    .icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        color: #007b71;
        font-size: 20px;
        pointer-events: none;
    }
}

.card {
    cursor: pointer;
    display: -webkit-box;
    background-color: #d0e7e6;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-content {
        padding: 20px;
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        h2 {
            //width: 70%;
            margin: 0;
            font-size: 20px;
            color: #007b71;
        }

        p {
            margin: 10px 0 0;
            color: #444;
            font-size: 16px;
            //width: 70%;
        }
    }
}

@media screen and (max-width: 768px) {

    .container {
        .card {
            display: flex !important;
            align-items: center;
            text-align: center;

            img {
               width: -webkit-fill-available;;
            }

            p {
               width: 100%;
            }

            h2 {
                width: 100%;
            }
        }
    }
    
}
