* {
    text-align: center;
    color: #117C6F !important;
}

button {
    background-color: #117C6F !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}