<div class="quick-plan-form">
  <div class="img-name"> 
    <div class="upload-overlay img-group"
    [ngStyle]="{'background-image': quickplan?.field_imagen[0]?.url ? 'url(' + quickplan.field_imagen[0].url + ')' : 'url(http://quickplans-drupal-docker.ddev.site/sites/default/files/default_images/group.png)'}">
    </div>
  </div>
  <div class="form-group">
      <input type="text" id="name" placeholder="Título" [(ngModel)]="quickplan?.title[0].value">
  </div>
  <div class="form-group location">
      <input type="text" id="location" placeholder="¿Dónde?" [(ngModel)]="quickplan?.field_location[0].value">
      <span (click)="openMapDialog()"><i class="fa-solid fa-location-dot icono"></i></span>
  </div>
  <div class="form-group">
      <textarea readonly type="text" id="what" placeholder="¿Qué?" [(ngModel)]="quickplan?.field_descripcion[0].value"></textarea>
  </div>
  <div class="form-group" *ngIf="type !='Anónimo'">
      <select id="who"  name="" *ngIf="type=='Grupal'">
        <option *ngIf="agregados.length > 0" [value]="group" disabled selected>{{group}}</option>
        <option *ngIf="!agregados?.length" [value]="'¿' + group + '?'" disabled selected>{{'¿' + group + '?'}}</option>
      </select>
      <select id="who" name="" *ngIf="type=='Amistoso'">
          <option disabled selected *ngIf="agregados.length > 0" [value]="agregados[0]">{{agregados[0]}}</option>
          <option disabled selected *ngIf="!agregados?.length" [value]="'¿' + asociados[0] + '?'">{{'¿' + asociados[0] + '?'}}</option>
      </select>
  </div>
  <div class="user-intereses" *ngIf="type=='Anónimo'">
      <select disabled  name="" id="interest" *ngFor="let interes of intereses; let i = index" [ngModel]="interes" [id]="'interes' + (i + 1)">
          <option [value]="interes" disabled selected>{{interes}}</option>
      </select>
  </div>
  <div class="form-group">
      <label for="when" id="labelWhen">¿Cuándo?</label>
      <div class="inicio">
          <input type="datetime-local" id="when-since" [(ngModel)]="formattedFechaInicio">
      </div>
      <div class="fin">
          <input type="datetime-local" id="when-until" [(ngModel)]="formattedFechaFin">
      </div>
  </div>
  <div *ngIf="isParticipating == false">
    <div *ngIf="type=='Grupal'" class="btn-quickplans">
        <button type="button" (click)="modificarPlan('aceptar')">Unirme</button>
        <button type="button">Lo pienso</button>
        <button type="button" class="btn-cancel" (click)="modificarPlan('rechazar')">Rechazar</button>
    </div>
    <div *ngIf="type=='Amistoso'" class="btn-quickplans">
      <button type="button" (click)="modificarPlan('aceptar')">Unirme</button>
      <button type="button">Lo pienso</button>
      <button type="button" class="btn-cancel" (click)="modificarPlan('rechazar')">Rechazar</button>
    </div>
    <div *ngIf="type=='Anónimo'" class="btn-quickplans">
        <button type="button" (click)="modificarPlan('aceptar')">Unirme</button>
    </div>
  </div>
  <!-- <button type="button" class="quick-plan-button">QuickPlan</button> -->
</div>
