.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px;
  }

  button {
    cursor: pointer;
    border-radius: 10px;
    background-color: #117C6F;
    color: white;
    border: none;
    margin-inline: 10px;
    font-weight: 600;
  }
  
  .day {
    border: 0.1px groove rgb(17 124 111 / 17%);
    min-height: 70px;
    position: relative;

    span {
        font-size: smaller;
        padding-inline: 3px;
    }
  }
  
  .day.empty {
    background-color: #f9f9f9;
  }
  
  .event {
    margin-top: 5px;
    font-size: 12px;
    background-color: #d9edf7;
    padding: 5px;
    border-radius: 3px;
  }
.calendar {
    padding-block: 10px;
}

.calendar-card {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
    padding-inline: 10px;
}

.calendar-header h4 {
    margin: 0;
    color: #117C6F;
}

.settings-button {
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-block: auto;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

.calendar th {
    background-color: #a1d5d0;
    color: white;
}

.calendar td {
    background-color: #fff;
}