<div class="quick-plan-form">
        <div class="img-name">
        <div class="upload-overlay img-group" (click)="uploadImageFunction()">
            <input type="file" id="file-input"  style="display: none;">
            <div class="upload-text">Subir imagen</div>
        </div>
      </div>
        <div class="form-group">
            <input type="text" id="name" placeholder="Título">
        </div>
        <div class="form-group location">
            <input type="text" id="location" placeholder="¿Dónde?">
            <span (click)="openMapDialog()"><i class="fa-solid fa-location-dot icono"></i></span>
        </div>
        <div class="form-group">
            <textarea type="text" id="what" placeholder="¿Qué?"></textarea>
        </div>
        <div class="form-group" *ngIf="getType()!='anonimo'">
            <select id="who" *ngIf="getType()=='grupal'">
                <option value="" selected>¿Con quién?</option>
                <option *ngFor="let group of userGroups" [value]="group.nid">{{ group.Titulo }}</option>
            </select>
            <select id="who" *ngIf="getType()=='amistoso'">
                <option value="" selected>¿Con quién?</option>
                <option *ngFor="let friend of userFriends" [value]="friend.Username">{{ friend.Username }}</option>
            </select>
        </div>
        <div class="user-intereses" *ngIf="getType()=='anonimo'">
            <select name="" id="interest1">
                <option value="">Select</option>            
                <option value="" *ngFor="let interest of interests">{{ interest.nombre }}</option>                      
            </select>
            <select name="" id="interest2">
                <option value="">Select</option>            
                <option value="" *ngFor="let interest of interests">{{ interest.nombre }}</option>            
            </select>
            <select name="" id="interest3">
                <option value="">Select</option>            
                <option value="" *ngFor="let interest of interests">{{ interest.nombre }}</option> 
            </select>
        </div>
        <div class="form-group">
            <label for="when" id="labelWhen">¿Cuándo?</label>
            <div class="inicio">
                <input type="datetime-local" id="when-since">
            </div>
            <div class="fin">
                <input type="datetime-local" id="when-until">
            </div>
        </div>
        <button type="button" class="quick-plan-button" (click)="addQuickplan()">QuickPlan</button>
    </div>
