<div class="container">
  <!-- Planes anónimos -->
  <div class="section">
    <h5>¿Qué plan se te antoja hoy?</h5>
    <div class="cards-container">
      <div *ngFor="let planAnonimous of plansAnonimous" class="card" (click)="viewQuickplan(planAnonimous.nid)">
        <img [src]="environment.apiBaseUrl + planAnonimous.Imagen || 'https://quickplans-drupal-docker.ddev.site/sites/default/files/default_images/user.png'" [alt]="planAnonimous.Titulo">
        <p>{{ planAnonimous.Titulo }}</p>
      </div>
      <div *ngIf="plansAnonimous.length === 0" class="card empty">
        <p>Oh, oh... Parece que aún no hay planes</p>
      </div>
    </div>
  </div>

  <!-- Amigos -->
  <div class="section">
    <h5>Mira cómo de ocupados están tus amigos...</h5>
    <div class="cards-container">
    <div *ngFor="let friend of userFriends" class="card" (click)="viewUserProfile(friend.Username)">
      <img [src]="friend.Imagen || 'http://quickplans-drupal-docker.ddev.site/sites/default/files/default_images/user.png'" [alt]="friend.Nombre">
      <p>{{ friend.Nombre }}</p>
    </div>
    <div *ngIf="userFriends.length === 0" class="card empty">
      <p *ngIf="csrfToken">Oh, oh... Parece que aún no tienes amigos</p>
      <p *ngIf="!csrfToken">Oh, oh... Aún no has iniciado sesión</p>
    </div>
    </div>
  </div>

  <!-- Planes pendientes -->
  <div class="section">
    <h5>Aún no has aceptado</h5>
    <div class="cards-container">
      <div *ngFor="let pendingPlan of pendingPlans" class="card" (click)="viewQuickplan(pendingPlan.nid)">
        <img [src]="environment.apiBaseUrl + pendingPlan.Imagen || 'https://quickplans-drupal-docker.ddev.site/sites/default/files/default_images/user.png'" [alt]="pendingPlan.Titulo">
        <p>{{ pendingPlan.Titulo }}</p>
      </div>
      
      <div *ngIf="pendingPlans.length === 0" class="card empty">
        <p *ngIf="csrfToken">Oh, oh... No hay planes pendientes</p>
        <p *ngIf="!csrfToken">Oh, oh... No has iniciado sesión</p>
      </div>
    </div>
  </div>
</div>
