.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .section {
    margin-bottom: 30px;

    h5 {
      margin-top: 15px;
      color: #00796b; 
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .card {
        height: 110px;
        align-items: center;
        background-color: #eafaf1; 
        border: none;
        box-shadow: #00796b75 0px 0px 5px;
        border-radius: 12px;
        text-align: center;
        flex-direction: row;
        padding: 10px;
        flex: 1 1 calc(33.333% - 15px); 
        max-width: calc(33.333% - 15px);

        &:hover {
          cursor: pointer;
        }

        img {
          margin-block: auto;
          width: 65px;
          height: 65px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: #00796b 0px 0px 10px;
        }

        p {
          font-size: 0.9rem;
          font-weight: bold;
          color: #00796b;
          margin: auto;
        }
      }
    }
  }
}

// Responsividad
@media (min-width: 769px) {
  .cards-container {
    .card {
      img {
        margin-left: 12px !important;
      }
    }
  }
}
@media (max-width: 768px) {
  .cards-container {
    .card {
      flex-direction: column !important;
      flex: 1 1 calc(50% - 10px); 
      max-width: calc(50% - 10px);
      height: 100% !important;

      p {
        margin: 0 !important;
      }

      img {
        margin-bottom: 10px !important;
      }
    }
  }
}

@media (max-width: 480px) {
  .cards-container {
    .card {
      flex-direction: column !important;
      flex: 1 1 100%; 
      max-width: 100%;
    }
  }
}
