<div class="container">
  <!-- Primera sección -->
  <div class="section">
    <h5>¿Qué plan se te antoja hoy?</h5>
    <div class="cards-container">
      <div *ngFor="let planAnonimous of plansAnonimous" class="card" (click)="viewQuickplan(planAnonimous.nid)">
        <img [src]="environment.apiBaseUrl + planAnonimous.Imagen || 'https://quickplans-drupal-docker.ddev.site/sites/default/files/default_images/user.png'" [alt]="planAnonimous.Titulo">
        <p>{{ planAnonimous.Titulo }}</p>
      </div>
    </div>
  </div>

  <!-- Segunda sección -->
  <div class="section">
    <h5>Mira cómo de ocupados están tus amigos...</h5>
    <div class="cards-container">
    <div *ngFor="let friend of userFriends" class="card" (click)="viewUserProfile(friend.Username)">
      <img [src]="friend.Imagen || 'https://quickplans-drupal-docker.ddev.site/sites/default/files/default_images/user.png'" [alt]="friend.Nombre">
      <p>{{ friend.Nombre }}</p>
    </div>
    </div>
  </div>

  <!-- Tercera sección -->
  <div class="section">
    <h5>Aún no has aceptado</h5>
    <div class="cards-container">
      <div *ngFor="let pendingPlan of pendingPlans" class="card" (click)="viewQuickplan(pendingPlan.Titulo)">
        <img [src]="environment.apiBaseUrl + pendingPlan.Imagen || 'https://quickplans-drupal-docker.ddev.site/sites/default/files/default_images/user.png'" [alt]="pendingPlan.Titulo">
        <p>{{ pendingPlan.Titulo }}</p>
      </div>
    </div>
  </div>
</div>
