.card {
    align-items: center;
    background-color: #eafaf1; 
    border: none;
    box-shadow: #00796b75 0px 0px 5px;
    border-radius: 12px;
    flex-direction: column;
    padding-inline: 60px;
    padding-block: 30px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 80%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

* {
    strong {
        color: #117C6F;
    }
} 

.icono {
    height: 40px;
    width: 40px;
    background-color: #117C6F;
    color: white;
    border-radius: 50%;
    padding: 9px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
}